* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',sans-serif ;
    background-color: rgb(245, 252, 250);
}
.slider-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}
.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}
.texto {
    position: absolute;
    text-align: center;
    padding: 0 50px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}
.texto h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.texto p {
    font-size: 1rem;
}
.slider-box img {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    filter: brightness(50%);
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}
@media (max-width: 768px) {
    .texto {
        padding: 0 20px;
    }

    .texto h2 {
        font-size: 2rem;
    }

    .texto p {
        font-size: 0.9rem;
    }
}
@media (max-width: 480px) {
    .texto {
        padding: 0 10px;
    }

    .texto h2 {
        font-size: 1.5rem;
    }

    .texto p {
        font-size: 0.8rem;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}
.back{
    padding: 32px 0;
    background-color: rgb(0, 0, 0);
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    font-size: 24px;
    color: rgb(242, 245, 245);
    font-weight: 800;
    text-transform: uppercase;

}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: aliceblue;
    display: block;
}
.menu .navbar ul li a:hover{
    color: rgb(11, 230, 138);
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
@media(max-width:991px){
    .menu{
        padding: 38px;
    }
    .menu label{
        display: initial;
    }
    .back{
        padding: 47px 0;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color:black ;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~.navbar{
        display: initial;
    }
}





h2{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 65px;
    line-height: 95px;
    color: cornsilk;
    text-transform: capitalize;
}
p{
    font-size: 18px;
    color: #c4c4c4;
    text-align: center;

}
@media (max-width: 768px) {
    h2 {
        font-size: 55px;
        line-height: 65px;
    }

    p {
        font-size: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    h2 {
        font-size: 65px;
        line-height: 75px;
    }

    p {
        font-size: 17px;
    }
}


@media (min-width: 1025px) {
    h2 {
        font-size: 85px;
        line-height: 95px;
    }

    p {
        font-size: 18px;
    }
}
/* Estilo principal */
.main-content {
    margin-top: 20px;
    padding: 20px;
}

/* Estilo para la sección de aventuras */
.featured-adventures {
    background-color: #35614c; /* Fondo verde */
    padding: 20px;
    color: white;
    border-radius: 8px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    font-size: 2em;
}

/* Estilo de las tarjetas de aventuras */
.adventures-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaciado entre las tarjetas */
}

.adventure-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: calc(25% - 20px); /* 4 tarjetas por fila */
    position: relative;
    transition: transform 0.3s;
}

.adventure-item:hover {
    transform: scale(1.05);
}

.adventure-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.adventure-item h3 {
    margin: 10px 0;
}

.adventure-item p {
    margin: 0;
    padding: 0 10px 10px 10px;
}

.adventure-item a {
    display: block;
    background-color: #0288d1; /* Azul para el botón */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.adventure-item a:hover {
    background-color: #69091e;
}

/* Estilo para la paginación */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#page-number {
    margin: 0 10px;
}

/* Diseño responsivo */
@media (max-width: 1200px) {
    .adventure-item {
        width: calc(33.33% - 20px); /* 3 tarjetas por fila */
    }
}

@media (max-width: 800px) {
    .adventure-item {
        width: calc(50% - 20px); /* 2 tarjetas por fila */
    }
}

@media (max-width: 500px) {
    .adventure-item {
        width: 100%; /* 1 tarjeta por fila */
    }

    h2 {
        font-size: 1.5em;
    }

    .pagination button {
        padding: 8px 12px;
    }
}


.experiencias {
    text-align: center;
    padding: 40px 20px;
    background-color: #f5f5f5; /* Fondo claro */
    font-family: 'Arial', sans-serif;
  }
  
  .experiencias h2 {
    font-size: 28px;
    color: #01579b;
    margin-bottom: 20px;
  }
  
  #busqueda {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .filtro {
    background-color: #0288d1; /* Azul llamativo */
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .filtro:hover {
    background-color: #01579b; /* Más oscuro al pasar el cursor */
    transform: translateY(-2px);
  }
  
  #filtrar {
    background-color: #d32f2f; /* Rojo */
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
  }
  
  #filtrar:hover {
    background-color: #b71c1c; /* Rojo más oscuro */
    transform: translateY(-2px);
  }
  
  .tarjetas-experiencias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
  }
  
  .tarjeta {
    background-color: #ffffff;
    border: 1px solid #0288d1;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .tarjeta img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .tarjeta h3 {
    font-size: 18px;
    color: #01579b;
    margin: 15px 10px 10px;
  }
  
  .tarjeta p {
    font-size: 14px;
    color: #555;
    margin: 0 10px 15px;
  }
  
  .tarjeta:hover h3 {
    color: #d32f2f; /* Cambiar color del título al pasar el cursor */
  }
  
  button {
    background-color: #0288d1;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #01579b; /* Azul más oscuro */
  }
  

.custom-footer {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('../Imagenes/imgheader/footer.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
  
    margin: 0 auto; 
    padding: 3rem 0;
    color: #fff;
    box-sizing: border-box; 
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 3rem;
    box-sizing: border-box; 
}

.menu-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30rem;
    gap: 3rem;
    justify-items: center;
}

.title-footer {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
    list-style: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
}

.information ul li a,
.my-account ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
    color: var(--dark-color);
}

.social-icons {
    display: flex;
    gap: 1.5rem;
}

.social-icons span {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i {
    color: #fff;
    font-size: 1.2rem;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00acee;
}

.youtube {
    background-color: #c4302b;
}

.instagram {
    background: linear-gradient(
        #405de6,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #fcaf45
    );
}

.newsletter .content p {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 100;
}

.newsletter .content input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #d2b495;
    cursor: pointer;
    padding: 0.5rem 0 1.2rem;
    color: var(--dark-color);
    display: block;
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
    font-family: inherit;
}

.newsletter .content input::-webkit-input-placeholder {
    color: #eee;
}

.newsletter .content button {
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-family: inherit;
    cursor: pointer;
    font-weight: 600;
}

.newsletter .content button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    border-top: 1px solid #d2b495;
}

.copyright p {
    font-weight: 400;
    font-size: 1.6rem;
}
@media (max-width: 768px) {
    .menu-footer {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .newsletter .content button {
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem;
    }
}

/* Smartphones */
@media (max-width: 480px) {
    .menu-footer {
        grid-template-columns: 1fr;
    }

    .title-footer {
        font-size: 1.4rem;
    }

    .contact-info ul li,
    .information ul li,
    .my-account ul li {
        font-size: 1.2rem;
    }

    .newsletter .content p {
        font-size: 1.2rem;
    }

    .social-icons span {
        width: 2.5rem;
        height: 2.5rem;
    }

    .social-icons span i {
        font-size: 1rem;
    }

    .copyright {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
}

